.p-production {
    .c-header {
        .ps !important;
    }
    padding: 0;
    .wp {
        max-width: 1200px;
        .auto(x);
    }
    .m-header {
        .mt(20px);
        padding: 60px 380px 60px 100px;
        background-position: center right;
        background-repeat: no-repeat;
        background-color: #fff;
        h2 {
            .fz(36px,2);
        }
        .u-desc {
            .color(#7488a4);
            .fz(18px,2);
            font-weight: 300;
        }
        .m-btn {
            .mt(20px);
            .u-btn {
                padding: 5px 20px;
                border: 1px solid #4162eb;
                .r(3px);
                .mr(20px);
                background-color: #4162eb;
                color: #fff;
                &.u-price {
                    background-color: #fff;
                    color: #4162eb;
                }
            }
        }
        &.m-container {
            background-image: url(../../static/images/index/production/container.png);
        }
        &.m-servers {
            background-image: url(../../static/images/index/production/servers.png);
        }
        &.m-compute {
            background-image: url(../../static/images/index/production/compute.png);
        }
        &.m-international {
            background-image: url(../../static/images/index/production/tiktok.png);
            .u-desc {
                .pt(30px);
                &.u-first {
                    .pr;
                    &:after {
                        content: "▼";
                        .pa;
                        .lb(140px,-16px);
                        .size(20px);
                        .color(#4162eb);
                    }
                }
            }
        }
    }
    .m-tabs {
        .mt(50px);
        border-bottom: 1px solid #e1e6f1;
        .flex;
        .u-tab {
            .pr;
            .size(200px,50px);
            .fz(20px,50px);
            .x;
            .pointer;
            .color(#374567);
            &.active {
                color: #4162eb;
                &:after {
                    content: "";
                    .pa;
                    .full;
                    .lt(0);
                    border-bottom: 1px solid #4162eb;
                }
            }
        }
    }
    .m-info-box {
        padding: 50px 0;
        h3 {
            .flex;
            align-items: center;
            .fz(36px,2);
            .color(#374567 );
            i {
                .mr(10px);
                .fz(20px);
                .color(#4162eb);
            }
        }
        .u-section {
            .pt(10px);
            strong {
                .db;
                .fz(20px,2);
                .color(#374537);
            }
            span {
                .fz(18px,2);
                .color(#778ba6);
                font-weight: 300;
            }
            .m-table {
                .w(100%);
                .x;
                .lh(60px);
                span {
                    padding: 0 10px;
                }
                th {
                    background-color: #e1e6f1;
                    span {
                        color: #4e5c79;
                        font-weight: 400;
                    }
                }
                .u-info {
                    .flex;
                    flex-direction: column;
                }
            }
        }
    }
    .m-goBack {
        .lh(60px);
        .h(60px);
        .pb(30px);
        .x;
        a {
            .fz(16px);
            .color(#4162eb);
        }
    }
    // tiktok
    .m-getting {
        .mt(20px);
        .pb(50px);
        border-bottom: 1px solid #e1e6f1;
        .flex;
        justify-content: center;
        gap: 20px;
        .u-input {
            .lh(60px);
            .fz(20px,60px);
            .size(340px,60px);
            padding: 0 10px;
            border: 1px solid #e1e6f1;
            .r(5px);
        }
        .u-btn {
            .pointer;
            .size(220px,60px);
            background-color: #4162eb;
            color: #fff;
            .fz(20px,60px);
            .x;
            .r(5px);
            &:hover {
                filter: brightness(110%);
            }
        }
    }
    .m-info-box {
        .pb(40px);
        h3 {
            .fz(36px,160px);
            .x;
            .color(#374567);
        }
        .m-box {
            .flex;
            justify-content: space-between;
            .m-item {
                .flex;
                gap: 20px;
                .u-img {
                    .size(40px);
                    .mt(10px);
                }
                .u-txt {
                    .flex;
                    flex-direction: column;
                    .fz(18px,2);
                    .color(#778ba6);
                    .u-title {
                        .fz(20px);
                        .color(#374567);
                    }
                    font-weight: 300;
                }
            }
        }
    }
}
@media screen and (max-width: @phone) {
    .p-page .wp {
        .m-header {
            .size(100%,auto);
            .flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 20px;
            box-sizing: border-box;
            background-position: center;
            &.m-international {
                background-position: center left;
                min-height: 100px;
                .u-desc {
                    .pt(10px);
                }
            }
            h2 {
                .fz(18px);
                .mb(0);
            }
            .u-desc {
                .fz(12px,2);
            }
            .m-btn {
                .flex;
            }
        }
        .m-tabs {
            .mt(20px);
            .u-tab {
                .fz(14px,30px);
                .h(30px);
                .u-tab {
                    padding: 10px 20px;
                }
            }
        }
        .m-info-box {
            padding: 20px 0;
            h3 {
                .fz(18px,2);
                padding: 20px 0;
                .bold;
                .flex;
                flex-direction: column;
                i {
                    .fz(18px);
                }
            }
            .u-section {
                strong {
                    .fz(16px);
                }
                span {
                    .fz(14px);
                }
                .u-box {
                    .w(100%);
                    overflow: auto;
                }
            }
            .m-box {
                flex-direction: column;
                gap: 20px;
                .m-item {
                    justify-content: center;
                    .w(100%);
                    .u-txt {
                        .fz(14px);
                        .u-title {
                            .fz(16px);
                        }
                    }
                }
            }
        }
        .m-getting {
            flex-direction: column;
            align-items: center;
            .u-input {
                .lh(36px);
                .fz(14px,36px);
                .size(320px,36px);
            }
            .u-btn{
                .size(220px,40px);
                .fz(14px,40px);
            }
        }
    }
}
